<p><font size="6"><b>08 - Pandas: Working with missing data </b></font></p>


> *Â© 2021, Joris Van den Bossche and Stijn Van Hoey  (<mailto:jorisvandenbossche@gmail.com>, <mailto:stijnvanhoey@gmail.com>). Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

---

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1, 2, np.nan],
                   'B': [4, np.nan, np.nan],
                   'C': [7, 8, 9]})
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

## Missing values in Pandas

For numerical data, the "NaN" (Not-A-Number) floating point value is used as missing value indicator:

In [3]:
df.loc[2, 'A']

nan

In [4]:
np.nan

nan

<div class="alert alert-warning">

**NOTE**: because NaN is a float value, it is currently not possible to have integer columns with missing values. Notice how the columns in the example above were casted to float dtype.

</div>

### Missing values are skipped by default in *reductions*

In [5]:
df['A'].mean()

1.5

In [6]:
df['A'].mean(skipna=False)

nan

### ... but propagated in *element-wise arithmetic*

In [7]:
df['A'] + 3

0    4.0
1    5.0
2    NaN
Name: A, dtype: float64

## Checking missing values

Checking for a missing value cannot be done with an equality operation (`==`) because NaN is not equal to iself:

In [8]:
df['A'] == np.nan

0    False
1    False
2    False
Name: A, dtype: bool

In [9]:
np.nan == np.nan

False

Therefore, dedicated methods are available: `isna()` and `notna()`

In [10]:
df['A'].isna()

0    False
1    False
2     True
Name: A, dtype: bool

In [11]:
df['A'].notna()

0     True
1     True
2    False
Name: A, dtype: bool

In [12]:
df['A'].isna().sum()

1

In [13]:
df.isna().sum()

A    1
B    2
C    0
dtype: int64

In [14]:
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

## Dropping missing values

Dropping missing values can be done with `isna()`/`notna()` and boolean indexing (eg `df[df['A'].notna()]`), but pandas also provides some convenient helper functions for this:

In [15]:
df.dropna()

     A    B  C
0  1.0  4.0  7

By default it drop rows if there is a NaN in any of the columns. To limit this to we subset of the columns, use the `subset` keyword:

In [16]:
df.dropna(subset=['A', 'C'])

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8

## Filling missing values

Filling missing values with a scalar:

In [17]:
df.fillna(0)

     A    B  C
0  1.0  4.0  7
1  2.0  0.0  8
2  0.0  0.0  9

Further, more advanced filling techniques are available in the ``interpolate()`` method.

<div class="alert alert-info" style="font-size:120%">

**REMEMBER**: <br>

* missing value indicator: `np.nan` (`NaN`)
* Reductions: skipped by default
* Mathematical operations (eg `+`): propagate by default
* Specific functions:
    * `isna()`, `notna()`
    * `dropna()`
    * `fillna()`, `interpolate()`

</div>