<p><font size="6"><b> 02 - Pandas: Basic operations on Series and DataFrames</b></font></p>


> *Â© 2021, Joris Van den Bossche and Stijn Van Hoey  (<mailto:jorisvandenbossche@gmail.com>, <mailto:stijnvanhoey@gmail.com>). Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

---

In [ ]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# redefining the example DataFrame

countries = pd.DataFrame({'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']})

In [ ]:
countries.head()

# Elementwise-operations

The typical arithmetic (+, -, \*, /) and comparison (==, >, <, ...) operations work *element-wise*.

With as scalar:

In [ ]:
population = countries['population']
population

In [ ]:
population * 1000

In [ ]:
population > 50

With two Series objects:

In [ ]:
countries['population'] / countries['area']

## Adding new columns

We can add a new column to a DataFrame with similar syntax as selecting a columns: create a new column by assigning the output to the DataFrame with a new column name in between the `[]`.

For example, to add the population density calculated above, we can do:

In [ ]:
countries['population_density'] = countries['population'] / countries['area'] * 1e6

In [ ]:
countries

# Aggregations (reductions)

Pandas provides a large set of **summary** functions that operate on different kinds of pandas objects (DataFrames, Series, Index) and produce single value. When applied to a DataFrame, the result is returned as a pandas Series (one value for each column).

The average population number:

In [ ]:
population.mean()

The minimum area:

In [ ]:
countries['area'].min()

For dataframes, often only the numeric columns are included in the result:

In [ ]:
countries.median()

# Application on a real dataset

Reading in the titanic data set...

In [ ]:
df = pd.read_csv("data/titanic.csv")

Quick exploration first...

In [ ]:
df.head()

In [ ]:
len(df)

The available metadata of the titanic data set provides the following information:

VARIABLE   |  DESCRIPTION
------ | --------
Survived       | Survival (0 = No; 1 = Yes)
Pclass         | Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
Name           | Name
Sex            | Sex
Age            | Age
SibSp          | Number of Siblings/Spouses Aboard
Parch          | Number of Parents/Children Aboard
Ticket         | Ticket Number
Fare           | Passenger Fare
Cabin          | Cabin
Embarked       | Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

<div class="alert alert-success">

**EXERCISE 1**

What is the average age of the passengers?

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations1.py

<div class="alert alert-success">

**EXERCISE 2**

Plot the age distribution of the titanic passengers

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations2.py

<div class="alert alert-success">

**EXERCISE 3**

What is the survival rate? (the relative number of people that survived)

<details><summary>Hints</summary>

- the 'Survived' column indicates whether someone survived (1) or not (0).

</details>
    
</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations3.py

In [ ]:
# %load _solutions/pandas_02_basic_operations4.py

<div class="alert alert-success">

**EXERCISE 4**

What is the maximum Fare? And the median?

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations5.py

In [ ]:
# %load _solutions/pandas_02_basic_operations6.py

<div class="alert alert-success">

**EXERCISE 5**
    
Calculate the 75th percentile (`quantile`) of the Fare price 
    
<details><summary>Hints</summary>

- look in the 'docstring' how to specify the percentile, either range [0, 1] or [0, 100]

</details>    

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations7.py

<div class="alert alert-success">

**EXERCISE 6**

Calculate the normalized Fares (normalized relative to its mean), and add this as a new column ('Fare_normalized') to the DataFrame.

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations8.py

In [ ]:
# %load _solutions/pandas_02_basic_operations9.py

<div class="alert alert-success">

**EXERCISE 7**

* Calculate the log of the Fares. 
    
<details><summary>Hints</summary>

- check the `np.log` function.

</details>  

</div>

In [ ]:
# %load _solutions/pandas_02_basic_operations10.py

# Numpy -  multidimensional data arrays

NumPy is the fundamental package for scientific computing with Python. It contains among other things:

* a powerful N-dimensional array/vector/matrix object
* sophisticated (broadcasting) functions
* function implementation in C/Fortran assuring good performance if vectorized
* tools for integrating C/C++ and Fortran code
* useful linear algebra, Fourier transform, and random number capabilities

Also known as *array oriented computing*. The recommended convention to import numpy is:

In [ ]:
import numpy as np

## Speed

Memory-efficient container that provides fast numerical operations:

In [ ]:
L = range(1000)
%timeit [i**2 for i in L]

In [ ]:
a = np.arange(1000)
%timeit a**2

## It's used by Pandas under the hood

The columns of a DataFrame are internally stored using numpy arrays. We can also retrieve this data as numpy arrays, for example using the `to_numpy()` method:

In [ ]:
arr = countries["population"].to_numpy()
arr

What we said above about element-wise operations and reductions works the same for numpy arrays:

In [ ]:
arr + 10

In [ ]:
arr.mean()

Numpy contains more numerical functions than pandas, for example to calculate the log:

In [ ]:
np.log(arr)

Those functions can *also* be applied on pandas objects:

In [ ]:
np.log(countries["population"])

<div class="alert alert-info">

__NumPy__ provides

* multi-dimensional, homogeneously typed arrays  (single data type!)

<br>

__Pandas__ provides

* 2D, heterogeneous data structure (multiple data types!)
* labeled (named) row and column index

</div>

# Acknowledgement


> This notebook is partly based on material of Jake Vanderplas (https://github.com/jakevdp/OsloWorkshop2014).

---